<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JavaScript Quiz</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center">JavaScript Programming</h1>
	<p>
	    JavaScript is a versatile scripting language that powers dynamic web applications. It's essential for
	    interactive front-end development and also plays a vital role in back-end technologies like Node.js.
	    Test your JavaScript skills with our comprehensive quiz.
	</p>
	<div class="text-center mt-4">
	    <a href="/attempt-quiz/javascript" class="btn btn-primary">Start JavaScript Quiz</a>
	</div>
    </div>
</body>
</html>
